# IDE
.idea/
.vscode/

# Виртуальное окружение
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.pyc
*.pyo

# Файлы сессий Telethon
sessions/

# Данные пользователей
data.json

# Логи
bot.log
*.log

# Переменные окружения
.env